<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css-reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/main">Main</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/helpPage">Help Page</a></li>
        </ul>
    </nav>

    <main>
        <h1>Search for Patients</h1>
        <form>
            <label for="Pid">Enter the ID of the patient:</label>
            <input type="text" name="Pid" id="Pid" placeholder="Patient ID">
            <button type="button" onclick="searchPatient()">Search</button>
        </form>

        <section id="resultSection">
            <h2>Search Results</h2>
            <table id="resultTable" border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Department</th>
                    </tr>
                </thead>
                <tbody>
                    <% patients.forEach(pi => { %>
                        <tr>
                            <td><%= pi.Pid %></td>
                            <td><%= pi.first_name %></td>
                            <td><%= pi.last_name %></td>
                            <td><%= pi.email %></td>
                            <td><%= pi.phone_number %></td>
                            <td><%= pi.department %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </section>
    </main>

    <footer>
        <p>Done by: Hussain Alsari, Feras Alswalim, Mazn Alasmari, Abdulwahab Alharthy</p>
        <p>2024 &copy; Omega</p>
    </footer>
</body>
</html>
